<div class="littleComponents">
    <div class="littleStyles br8 bgWhite">
        <div class="countDiv">
            <span class="countText">تعداد کل اعضا : </span>
            <span class="countNumber">10</span>
        </div>
        <button mat-raised-button>اختیارات بیشتر</button>
    </div>
    <div class="adCount littleStyles br8 bgWhite">
        <div class="countDiv">
            <span class="countText">تعداد آگهی ها :</span>
            <span class="countNumber">10</span>
        </div>
        <button mat-raised-button>اختیارات بیشتر</button>
    </div>
    <div class="adCount littleStyles br8 bgWhite">
        <div class="countDiv">
            <span class="countText">تعداد پست ها آموزشی :</span>
            <span class="countNumber">10</span>
        </div>
        <button mat-raised-button>اختیارات بیشتر</button>
    </div>
    <div class="adCount littleStyles br8 bgWhite">
        <div class="countDiv">
            <span class="countText">تعداد اخبار</span>
            <span class="countNumber">10</span>
        </div>
        <button mat-raised-button>اختیارات بیشتر</button>
    </div>
</div>