<div class="TAContainer">
    <div class="box">
        <span class="title">آکادمی یورتمه</span>
        <div class="academies">
            <div class="academy" [ngStyle]="{height: academyWidth+(academyWidth*0.25)+'px'}">
                <img src="../../../assets/bg-img/h1.jpg">
                <span class="aName">آموزش تخصصی نعل بندی</span>
                <div class="details">
                    <button mat-flat-button style="background-color: #945c32;color: #ffffff;">رفتن به صفحه آگهی</button>
                </div>
            </div>
            <div class="academy" [ngStyle]="{height: academyWidth+(academyWidth*0.25)+'px'}">
                <img src="../../../assets/bg-img/h1.jpg">
                <span class="aName">آموزش تخصصی نعل بندی</span>
                <div class="details">
                    <button mat-flat-button style="background-color: #945c32;color: #ffffff;">رفتن به صفحه آگهی</button>
                </div>
            </div>
            <div class="academy" [ngStyle]="{height: academyWidth+(academyWidth*0.25)+'px'}">
                <img src="../../../assets/bg-img/h1.jpg">
                <span class="aName">آموزش تخصصی نعل بندی</span>
                <div class="details">
                    <button mat-flat-button style="background-color: #945c32;color: #ffffff;">رفتن به صفحه آگهی</button>
                </div>
            </div>
            <div class="academy" [ngStyle]="{height: academyWidth+(academyWidth*0.25)+'px'}">
                <img src="../../../assets/bg-img/h1.jpg">
                <span class="aName">آموزش تخصصی نعل بندی</span>
                <div class="details">
                    <button mat-flat-button style="background-color: #945c32;color: #ffffff;">رفتن به صفحه آگهی</button>
                </div>
            </div>
        </div>
    </div>
</div>