.NSABox {
  display: flex;
  align-items: center;
  padding-right: 15%;
  justify-content: flex-start;
  overflow: visible;
  overflow-x: hidden;
  .imgBg {
    direction: rtl;
    display: flex;
    justify-content: center;
    margin-right: auto;
    transform: translateX(-100vh);
    img {
      z-index: 2;
    }    
    .bgcircle {
      position: absolute;
      height: 500px;
      width: calc(100% + 200px);
      background-color: #ebf0f3;
      left: -200px;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 70%;
      top: 0px;
    }
  }
  .rightSide {
    height: 100%;
    flex-direction: column;
    direction: rtl;
    text-align: right;
    display: flex;
    .title {
      color: #582e13;
      font-size: 25px;
      margin-right: 40px;
      text-align: right;
    }
    .ads {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      .ad {
        flex: 0 0 calc(33% - 3%);
        // height: 305px;
        background-color: rgb(235, 240, 243);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: -7.829px 11.607px 20px 0px rgba(77, 111, 141, 0.2);
        margin: 15px 1.5%;
        overflow: hidden;
        position: relative;
        // transition:opacity 1s;
        opacity: 0;
        img {
          width: 100%;
          height: 80%;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        }
        .hName {
          color: #582e13;
          font-size: 15px;
        }
        .hPrice {
          color: #582e13;
          font-size: 15px;
          font-weight: bold;
        }
        .onhoveredDiv {
          transition: 0.5s;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(184, 184, 184, 0.582);
          height: 100%;
          width: 100%;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
}
.ad:hover > .onhoveredDiv {
  visibility: visible !important;
  opacity: 1 !important;
}
@media (max-width: 1200px) {
  // .ad {
  //   flex: 0 0 40% !important;
  // }
}
@media (min-width: 1200px) {
  // .ad {
  //   flex: 0 0 calc(30% - 3%) !important;
  // }
}

@media (max-width: 700px) {
  .imgBg {
    width: 0 !important;
  }
  .NSABox {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .ad {
    flex: 0 0 80% !important;
  }
  .rightSide {
    .title {
      margin-right: 0 !important;
    }
  }
}


/////////////////
@media(max-width:1255px) {
  .ad{
    width: 270px!important;
  }
}
// @media(max-width:1120px){
//   .imgBg img {
//     margin-right: 400px!important;
//   }
// }
@media(max-width:1200px){
  .imgBg{
    display: none!important;
  }
  .rightSide{
    align-items: center;
    .title{
      margin-right: 0!important;
    }
    .ads{
      justify-content: center;
    }
  }
  .NSABox{
    padding-left: 15%!important;
  }
}
@media(max-width:499px){
  .NSABox{
    margin: 0!important;
  }
}
// @media(max-width:1340px){
//   .imgBg img{
//     margin-right: 400px;
//   }
// }

@media(max-width:900px){
  .ad{
    flex: 0 0 calc(50% - 3%)!important;
  }
}
@media(max-width:600px){
  .ad{
    flex: 0 0 calc(100% - 30%)!important;
  }
}
@media(min-width:1600px){
  .ad{
    flex:0 0 calc(25% - 3%)!important
  }
}
.adAnimation{
  animation-name: adAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes adAnim{
  to{
    opacity: 1;
  }
}
.horseShow{
  animation-duration: 1s;
  animation-name: horseShow;
  animation-fill-mode: forwards;
}
@keyframes horseShow{
  to{
    transform: translateX(0);
  }
}