<div class="NSABox" id="NSABox">
    <div class="imgBg" [ngClass]="{horseShow: adAnim}">
        <img src="../../../assets/sale hource pic.png" [ngStyle]="{width: windowWidth*0.35+'px'}">
    </div>
    <div class="rightSide">
        <span class="title">جدیدترین آگهی های فروش اسب</span>
        <div class="ads">
            <div class="ad" *ngFor="let adv of advertising;let i =index" [ngStyle]="{height: adWidth+(adWidth*0.25)+'px'}" [ngClass]="{adAnimation:adAnim}"  >
                <img src="../../../assets/bg-img/h1.jpg">
                <span class="hName">{{adv.name}}</span>
                <span class="hPrice">{{adv.price}}</span>
                <div class="onhoveredDiv">
                    <button mat-flat-button style="background-color: #945c32;color: #ffffff;">رفتن به صفحه آگهی</button>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-3 text-left">
            <button mat-flat-button style="background-color: #945c32;color: #ffffff;margin-left: 3%">
                مشاهده و جستجو
            </button>
        </div>

    </div>
</div>