.new {
    height: 355px;
    overflow: hidden;
    margin: 0px 15px 15px 15px;
    animation-name: newsAnim;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    // visibility: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
    .description {
      position: absolute;
      top: calc(100% - 100px);
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0000007d;
      transition: 0.5s;
      color: #ffffff;
      text-align: end;
      padding: 25px 25px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      border-radius: 8px;
      .title {
        font-size: 25px;
        color: #ffffff !important;
      }
      .content {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;
        max-height: 130px;
        -webkit-box-orient: vertical;
        line-height: 2;
        font-size: 20px;
      }
      .continue {
        margin-top: auto;
        background-color: #440d03;
        font-size: 25px;
        cursor: pointer;
        width: fit-content;
        padding: 5px 15px;
        color: #ffffff;
        border-radius: 8px;
      }
    }
  }
  @media(min-width:1200px){
      .new{
          width: calc(50% - 30px);
      }
  }
  @media(max-width:1200px){

    .new{
        width: calc(50% - 30px);
    }
  }
  @media(max-width:950px){

    .new{
        width: calc(50% - 30px);
    }
  }
  @media(max-width:570px){
    .new{
        width: calc(100% - 30px);
    }
  }
  .new:hover .description {
    top: 0 !important;
  }