<div class="Adv">
    <div class="advs">
        <div class="adv">
            <img src="../../assets//bg-img/h6.jfif">
            <div class="specs">
                <span class="name">نام اسب</span>
                <span class="price">قیمت</span>
                <span class="seens">تعداد بازدید ها <span> 10</span></span>
                <div class="morespec">
                    <button class="btn mediumBtn">حذف آگهی</button>
                    <button class="btn grayBtn ml-2">ویرایش</button>
                </div>
            </div>
        </div>
        <div class="adv">
            <img src="../../assets//bg-img/h6.jfif">
            <div class="specs">
            </div>
        </div>
        <div class="adv">
            <img src="../../assets//bg-img/h6.jfif">
            <div class="specs"></div>
        </div>
    </div>
</div>