<div class="lastPostst">
        <span class="title">جدیدترین پست های آموزشی</span>
        <div class="d-flex flex-wrap justify-content-end">
            <div class="lastPost">
                <img src="../../assets/bg-img/news.jpg">
                <div class="bottomSide">چگونه اسب خودرا زین کنیم؟</div>
                <div class="date"></div>
            </div>
            <div class="lastPost">
                <img src="../../assets/bg-img/news.jpg">
                <div class="bottomSide">چگونه اسب خودرا زین کنیم؟</div>
                <div class="date"></div>
            </div>
            <div class="lastPost">
                <img src="../../assets/bg-img/news.jpg">
                <div class="bottomSide">چگونه اسب خودرا زین کنیم؟</div>
                <div class="date"></div>
            </div>
        </div>
    </div>