<div class="NWImg"></div>
<div class="NWContainer">
    <div class="NWBox">
        <span class="title">عنوان خبر</span>
        <div class="content">
            <span>
                Nam egestas lorem ex, sit amet commodo tortor faucibus a. Suspendisse commodo, turpis a dapibus
                fermentum,
                turpis ipsum rhoncus massa, sed commodo nisi lectus id ipsum. Sed nec elit vehicula, aliquam neque
                euismod,
                porttitor ex. Nam consequat iaculis maximus. Suspendisse potenti. In rutrum justo et diam egestas
                luctus.
                Mauris eu neque eget odio suscipit eleifend. Sed imperdiet ante quis felis tempor hendrerit. Curabitur
                eget
                fermentum ipsum. Sed efficitur eget velit eu vulputate. Duis tincidunt quam in erat dignissim consequat.
                Praesent tempus leo eu nisl fringilla interdum. Maecenas rutrum libero eget lacus bibendum tristique.
                Curabitur at felis lobortis, mollis ante ut, tempus elit. Morbi justo nisi, posuere sed augue id,
                iaculis
                tincidunt mi. Pellentesque sed dolor sed dui congue tempus a et felis.
            </span>
            <img src="../../../assets/bg-img/h3.jpg">
            <img src="../../../assets/bg-img/h3.jpg">
            <span>
                Nam egestas lorem ex, sit amet commodo tortor faucibus a. Suspendisse commodo, turpis a dapibus
                fermentum,
                turpis ipsum rhoncus massa, sed commodo nisi lectus id ipsum. Sed nec elit vehicula, aliquam neque
                euismod,
                porttitor ex. Nam consequat iaculis maximus. Suspendisse potenti. In rutrum justo et diam egestas
                luctus.
                Mauris eu neque eget odio suscipit eleifend. Sed imperdiet ante quis felis tempor hendrerit. Curabitur
                eget
                fermentum ipsum. Sed efficitur eget velit eu vulputate. Duis tincidunt quam in erat dignissim consequat.
                Praesent tempus leo eu nisl fringilla interdum. Maecenas rutrum libero eget lacus bibendum tristique.
                Curabitur at felis lobortis, mollis ante ut, tempus elit. Morbi justo nisi, posuere sed augue id,
                iaculis
                tincidunt mi. Pellentesque sed dolor sed dui congue tempus a et felis.
            </span>
        </div>
        <div class="tagsAndWritter">
            <span class="tag">تگ 1</span>
            <span class="tag">تگ 2</span>
            <div class="writter">
                <div class="writterImg"></div>
                <div class="nameAndDate">
                    <span>نام نویسنده</span>
                    <span>تاریخ ثبت</span>
                </div>
            </div>
        </div>
    </div>
    <div class="lastNews">
        <div class="new">
            <img src="../../assets/bg-img/h7.jpg">
            <div class="description">
                <span class="title">نعل زن برتر ایران بشناسیم</span>
                <span class="content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                    تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و
                    سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را
                    برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می
                    توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد
                    نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                    قرار گیرد.
                </span>
                <span class="continue">ادامه خبر</span>
            </div>
        </div>
        <div class="new">
            <img src="../../assets/bg-img/h7.jpg">
            <div class="description">
                <span class="title">نعل زن برتر ایران بشناسیم</span>
                <span class="content">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                    تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و
                    سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را
                    برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می
                    توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد
                    نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                    قرار گیرد.
                </span>
                <span class="continue">ادامه خبر</span>
            </div>
        </div>
    </div>
    <div class="commentContainer">
        <app-comment></app-comment>
    </div>
    <div class="commentsContainer">
        <app-comments></app-comments>
    </div>
</div>
