<div class="homeBg">
    <div class="FTDiv">
        <span class="first">یورتمه</span>
        <span class="twice">مرجع تخصصی سوارکاران</span>

    </div>
</div>
<div class="position-relative imgSliderDiv"
    style="margin-bottom: 15px;height: 150px;">
    <div (click)="prev()" class="prev"><i class="mdi mdi-arrow-left"></i></div>
    <div (click)="next()" class="next"><i class="mdi mdi-arrow-right"></i></div>
    <p class="title" >معرفی اسب های برتر</p>
    <div class="hoursesDiv">

        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
            <span>اسم اسب</span>
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
        <div class="sliderImgDiv">
            <img src="../../assets/bg-img/h1.jpg" />
        </div>
    </div>
</div>
<!-- 
<app-sale-ad></app-sale-ad> -->

<app-new-sale-ad></app-new-sale-ad>
<app-thumbline-news></app-thumbline-news>
<app-thumbline-academy></app-thumbline-academy>
<app-footer></app-footer>
