<div class="TNContainer">
    <div class="box">
        <span class="title">اخبار سوارکاری</span>
        <div class="news">
            <div class="new">
                <img src="../../../assets//bg-img/h3.jpg">
                <div class="newTC">
                    <span class="title">نتایج نوزدهمین مسابقات پرش با اسب استان اصفهان</span>
                    <span class="content">مظابق تقویم ورزشی هیات سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این
                        هیات در روز جمعه به میزبانی باشگاه سوارکاری ایران زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات
                        سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این هیات در روز جمعه به میزبانی باشگاه سوارکاری
                        ایران زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا
                        اسب این هیات در روز جمعه به میزبانی باشگاه سوارکاری ایران زمنیدر چنج دوره آزمون مظابق تقویم
                        ورزشی هیات سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این هیات در روز جمعه به میزبانی
                        باشگاه سوارکاری ایران زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات سوارکاری استان اصفهان
                        نوزدهمین مسابقه پرشبا اسب این هیات در روز جمعه به میزبانی باشگاه سوارکاری ایران زمنیدر چنج دوره
                        آزمون مظابق تقویم ورزشی هیات سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این هیات در روز
                        جمعه به میزبانی باشگاه سوارکاری ایران زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات سوارکاری
                        استان اصفهان نوزدهمین مسابقه پرشبا اسب این هیات در روز جمعه به میزبانی باشگاه سوارکاری ایران
                        زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این
                        هیات در روز جمعه به میزبانی باشگاه سوارکاری ایران زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات
                        سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این هیات در روز جمعه به میزبانی باشگاه سوارکاری
                        ایران زمنیدر چنج دوره آزمون </span>
                </div>
            </div>
            <div class="new">
                <img src="../../../assets//bg-img/h3.jpg">
                <div class="newTC">
                    <span class="title">نتایج نوزدهمین مسابقات پرش با اسب استان اصفهان</span>
                    <span class="content">مظابق تقویم ورزشی هیات سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این
                        هیات در روز جمعه به میزبانی باشگاه سوارکاری ایران زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات
                        سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این هیات در روز جمعه به میزبانی باشگاه سوارکاری
                        ایران زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا
                        اسب این هیات در روز جمعه به میزبانی باشگاه سوارکاری ایران زمنیدر چنج دوره آزمون مظابق تقویم
                        ورزشی هیات سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این هیات در روز جمعه به میزبانی
                        باشگاه سوارکاری ایران زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات سوارکاری استان اصفهان
                        نوزدهمین مسابقه پرشبا اسب این هیات در روز جمعه به میزبانی باشگاه سوارکاری ایران زمنیدر چنج دوره
                        آزمون مظابق تقویم ورزشی هیات سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این هیات در روز
                        جمعه به میزبانی باشگاه سوارکاری ایران زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات سوارکاری
                        استان اصفهان نوزدهمین مسابقه پرشبا اسب این هیات در روز جمعه به میزبانی باشگاه سوارکاری ایران
                        زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این
                        هیات در روز جمعه به میزبانی باشگاه سوارکاری ایران زمنیدر چنج دوره آزمون مظابق تقویم ورزشی هیات
                        سوارکاری استان اصفهان نوزدهمین مسابقه پرشبا اسب این هیات در روز جمعه به میزبانی باشگاه سوارکاری
                        ایران زمنیدر چنج دوره آزمون </span>
                </div>
            </div>
        </div>
    </div>
</div>