<div class="commentsBox">
    <div class="commentsRow">
        <div class="commentDetail">
            <div class="userImage"></div>
            <div class="dateAndUsername">
                <span class="username">Sarah Parker</span>
                <span class="dateAndTime">Sep 29, 2017 at 9:48 am</span>
            </div>
        </div>
        <span class="commentText">
            Nam egestas lorem ex, sit amet commodo tortor faucibus a. Suspendisse commodo, turpis a dapibus fermentum,
            turpis ipsum.
        </span>
        <button class="btn grayBtn replyesBtn">مشاهده ریپلای ها</button>
        <div class="commentsRow replies">
            <div class="commentDetail">
                <div class="userImage"></div>
                <div class="dateAndUsername">
                    <span class="username">Sarah Parker</span>
                    <span class="dateAndTime">Sep 29, 2017 at 9:48 am</span>
                </div>
            </div>
            <span class="commentText">
                Nam egestas lorem ex, sit amet commodo tortor faucibus a. Suspendisse commodo, turpis a dapibus
                fermentum,
                turpis ipsum.
            </span>
            <button class="btn grayBtn replyesBtn">مشاهده ریپلای ها</button>

        </div>
    </div>
</div>